@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
// LAYOUT GRID
header{
    grid-area: header;
    background-color: variables.$color-primary;
    font-size: variables.$font-size-xl;
}
nav{
    grid-area: navbar;
    background-color: variables.$color-primary;
}
main{
    grid-area: main;
    background-color: variables.$color-secondary;
}
footer{
    grid-area: footer;
    background-color: variables.$color-highlight;
}
header, nav, main, footer{
    padding: variables.$spacing-m;
}

li{
    list-style: none;
}
.grid-schema{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    gap: variables.$spacing-xs;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
}
.discussion-container{
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-xs;
    padding: variables.$spacing-m;
    h2{
        font-size: variables.$font-size-xl;
    }
    p{
        font-size: variables.$font-size-m;
    }
}
.discussion-container:nth-child(odd){
    background-color: rgb(255, 68, 47);
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    &:hover{
        color: rgb(255, 68, 47);
        transform: scale(1.1);
        transition: 80ms ease-in-out;
    }
}
button{
    background: none;
    outline: none;
    border: none;
    background-color: purple;
    border-radius: variables.$spacing-xs;
    width: max-content;
    padding: variables.$spacing-s;
}


@media (min-width: 768px){
    .grid-schema{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header header navbar"
        "main main main"
        "footer footer footer";
    }
}