// FONTS 

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// COLORS 

$color-primary: rgb(209 209 209);
$color-secondary: rgb(255, 255, 255);
$color-highlight: rgb(108 175 225);
$color-hover: rgba(79, 11, 96, 0.68);
$color-button: #3273fc;

// SPACING 

$spacing-xxs: 2px;
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 40px;
$spacing-xl: 80px;

// FONTS 

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// TRANSITION TIME 

$transition-short: 80ms;
$transition-medium: 150ms;
$transition-long: 200ms;