// COLORS 

$color-primary: rgb(212, 251, 212);
$color-secondary: rgb(237, 253, 237);
$color-highlight: rgb(255, 0, 0);
$color-hover: rgba(79, 11, 96, 0.68);

// SPACING 

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 40px;
$spacing-xl: 80px;

// FONTS 

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// TRANSITION TIME 

$transition-short: 80ms;
$transition-medium: 150ms;
$transition-long: 200ms;